@import url(http://fonts.googleapis.com/css?family=Nosifer|Poiret+One|Text+Me+One&subset=latin-ext);
@import url(http://fonts.googleapis.com/css?family=Sonsie+One|Joti+One|Courgette&subset=latin,latin-ext);

html>body {
	font-family: 'Poiret One';
	font-style: normal;
	font-weight: 400;
/* 	padding-top: 50px; */
	padding-bottom: 70px;
	line-height: 29px;
	background-image: url('./../images/body2.png'); 
	background-size: 100%;
	color: white;
	
}
.courgette {
	font-family: 'Courgette';
}

.tag1 {
	font-style: oblique;
	color: #FEBF01 !important;
}

.review-data img {
	max-width: 25%;
	max-height: 25%;
	float: left;
	margin-right: 50px;
}

.home_header img {
	max-width: 20%;
	max-height: 20%;
	float: right;
}

.home_header h1 {
	font-family: "Sonsie One";
	position: relative;
	top: 10px;
	left: 10px;
	font-size: 35px;
}

.home_header h3 {
	font-family: "Sonsie One";
	position: static;
	top: 18px;
	left: 10px;
	font-size: 20px;
}

body h1,body .h1 {
	font-size: 40px;
	padding-bottom: 20px;
	margin-top: 10px;
}


.navbar-default {
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	background-color: white; 
}

.inner_body {
 	background-color: white; 
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	padding: 10px;
	margin-top: 25px;
	font-size: 16px;
/* 	color: #041F54; */
	color: black;
	padding: 10px;
	opacity: 0.8;
}

.outer_body {
	background-color: black;
	color: white;
	padding: 20px;
	opacity: 1;
}

.footer {
	margin-left: 8.8%;
}

.active_nav > a{
 	color: #FEBF01 !important;
    text-decoration: underline;
}

.lead {
	font-size: 20px;
	padding: 10px;
}
