@import url(http://fonts.googleapis.com/css?family=Nosifer|Poiret+One|Text+Me+One&subset=latin-ext);
@import url(http://fonts.googleapis.com/css?family=Sonsie+One|Joti+One|Courgette&subset=latin,latin-ext);

html>body {
	font-family: 'Courgette';
	font-style: normal;
	font-weight: 400;
/* 	padding-top: 50px; */
	padding-bottom: 70px;
	line-height: 29px;
	background-image: url('./../images/body2.png'); 
	background-size: 100%;
	color: white;
	
}
.courgette {
	font-family: 'Courgette';
}

.review-data img {
	max-width: 25%;
	max-height: 25%;
	float: left;
	margin-right: 50px;
}

.home_header img {
	max-width: 20%;
	max-height: 20%;
	float: right;
}

.home_header h1 {
	font-family: "Sonsie One";
	position: relative;
	top: 10px;
	left: 10px;
	font-size: 35px;
}

.home_header h3 {
	font-family: "Sonsie One";
	position: static;
	top: 18px;
	left: 10px;
	font-size: 20px;
}

body h1,body .h1 {
	font-size: 50px;
	padding-bottom: 20px;
}


.navbar-default {
	color: #2C3E50;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
}

.inner_body {
/* 	color: white; */
	background-color: #2C3E50;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	padding: 5px;
	opacity: 0.85;
	margin-top: 35px;
	
}


