@(review: model.Review, link: Boolean = false)

@import common.Templating._

@if(!review.slug.isEmpty && link) {
    <h1><a href="@controllers.routes.Application.display(review.slug.get)">@review.title</a></h1>
} else {
    <h2>@review.title</h2>
}
<div class="review-data" style="margin-top: 20px;">
	<img src="@review.picture_url"/>
	<p>
		<span class="tag1">Pridané @formatDate(review.createdAt) od Janko</span>
		<br>
		<span class="tag1">Moje hodnotenie: @Html(review.ratingAsPercent)</span>
	</p>
</div>

@Html(review.description.getOrElse(" "))
@Html(review.content)

