@(review: model.Review, link: Boolean = false)

@import common.Templating._

<div class="home_header" style="font-size: 25px;">
@if(!review.slug.isEmpty && link) {
    <h3><a href="@controllers.routes.Application.display(review.slug.get)">@review.title</a></h3>
} else {
    <h1>@review.title</h1>
}
</div>

<div class="review-data">
	<img src="@review.picture_url"/>
	Pridané <span class="black">@formatDate(review.createdAt)</span> od <span class="black">Janko</span>
</div>

@Html(review.description.getOrElse(" "))
