@()

@main("About", "/about") {

    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="home_header">
            <h1>About</h1>
            </div>
            <p>
            Moje meno je <strong>Janko</strong>, </p>
            <p>som filmovy fanusik - a samozvany kritik. Po namahavom dni, vecer rad travim vo svojej obyvacke. Kedze nemalo casu venujem aj praci s 
            pocitacom, rozhodol som sa, ze tieto dve zaluby spolu sklbim.  Neprehliadnutelne zijeme vo svete prepojenych informacii, a tak rad by som 
            sa na tejto stranke s Vami podelil o svoje:</p>
            <ul>
                <li>Nove a stare filmove zazitky napisane v mini recenziach.</li>
                <li>Diskusiou a odkazmi k danym filmovym titulom.</li>
                <li><sttrong>Titulky</strong> a ine uzitocne veciaci, ktore Vam mozno sprijemnia Vas cas straveny v obyvacke...</li>
            </ul>
        </div>
   
    </div>
    
   <div class="footer col-lg-offset-2 col-lg-8">
  			@debug()
   </div> 

}
