@()

@main("Obývačka - Home", "/") {

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-offset-2 col-lg-8">
              
              <div class="home_header">
 				 <img src="@routes.Assets.at("images/tv_animated.gif")" />
  				<h1>Obývacka</h1>
			  </div>
              <p class="lead"><strong>Vitajte v obývačke</strong>, kinematografickom útočišti, ktoré je hneď za rohom kuchyne. 
              Portál, pre priaznivcov filmov, pohodlia, imaginárneho sveta emócií, romantiky, napätia a vzrušenia.
              </p>
              <p>Vitajte v mojom svete obyvačkových <a href="recenzie/" style="color:#2C3E50;"><strong>filmov...</strong>.</a></p>
            	
            </div>
        </div>
      </div>

    }
