@()

@main("Obývačka - Home", "/") {
	  
       <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-offset-2 col-lg-8">
              
              <div class="home_header">
  				<h1>Obývačka</h1>
			  </div>
              <p class="lead"><strong>Vitajte v obývačke</strong>, kinematografickom útočišti, ktoré je hneď za rohom kuchyne. 
              Portál, pre priaznivcov filmov, pohodlia a zmysluplného escapismu.
              </p>
              <p>Vitajte v mojom svete obyvačkových <u><a href="recenzie/" "><strong>filmov...</strong></u>.</a></p>
            	
            </div>
        </div>
      </div>

    }
