@()

@main("Obyvacka - Manifesto", "/shut-up-manifesto") {
<div class="row">
   
    <div class="col-lg-offset-2 col-lg-8">
        <div class=home_header>
        	<h1>Drz	Hubu! Manifesto</h1>
        	<h4>(orig. "The Shut-Up Manifesto")</h4>
        </div>
        <div class="manifesto">
        <p>Ak chcete niečo zmenit vo svojom živote, tak prvé čo musíte spraviť je <strong>držat hubu ked hovoríte.</strong>.</p>

        <p>Keď:</p>

        <ul>
            <li><em>...poviete, <strong>že nemáte čas</strong></em>:	Držte hubu! Je to len zámienka. Ralita je taká, 
            	že si nechcete nájsť čas. Predpokladajte to.</li>
            <li><em>...poviete, <strong>že niečo nemôžete spraviť</strong></em>:	Držte hubu! Radšej povedzte, že ste sa rozhodli nepokúsiť sa, Váš výrok bude mať bližšie k pravde.</li>
            <li><em>...začnete <strong>ohovárat a klebetiť</strong></em>:	Držte hubu! Čím viac budete klebetiť a ohovárať, tým viac si vytvoríte na svet negatívny pohľad.</li>
            <li><em>...poviete iným ľuďom, že niečo je <strong>nemožné</strong></em>:	Držte hubu! Nekazte cudzie sny, ktoré sa vy ani neodvážite mať.</li>
            <li><em>...sa necháte <strong>prehlušiť negatívnym hlasom</strong> vo svojom vnutri</em>:	Zahlušte tento hlas! Racionalne neuvažovať a vždy si predstavovať len to najhoršie ešte nikdy nikomu nepomohlo. Nikdy.</li>
        </ul>

        <p>Takže prosím Vás, <strong>držte hubu</strong>, a hlavne si vždy povedzte svoj názor, večný vesmír sa Vám poďakuje.</p>
        </div>
    	<img src="@routes.Assets.at("images/too_busy_to_improve.png")" style="max-width: 80%; max-height:80%; margin-top: 90px;"/>
    </div>
</div>
}